<!DOCTYPE html>
<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>
	<ul>
	<li><a href="erb(:add)"> Addition</a></li>
	<li><a href="erb(:sub)"> Subtraction</a></li>
	<li><a href="erb(:multi)"> Multiplication</a></li>
	<li><a href="erb(:div)"> Division</a></li>
	</ul>
</body>
</html>