<style>
      p {
        background-color: grey;
      }
      body {
  background-color: grey;
  font-family: "Baskerville";
		}
	.niceParagraph {
	  background-color: grey;
	  font-family: "Baskerville";
	}
    </style>