<!DOCTYPE html>
<html>
<head>
	<title>IMDB quiz game</title>
</head>
<body>
<h1> Lets play a game !!!</h1>
<p>Choose a search Term</p>
<form action="/movie_search" method="POST">
	<input type="text" name="category" placeholder="search term">
	<button type="submit">Search</button>
</form>
</body>
</html>