<!-- views/add.erb -->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Create a new task</h1>
  <form action="/create_task" method="POST">
  <input type="text" name="task" placeholder="task">
  <button type="submit">Submit</button>
  </form>
</body>
</html>