<h1>Pokédex</h1>

<!-- List of pokemon -->
<ul class="pokedex-list">
  <% @pokemon.each do |pkmn| %>
    <li>
      <button class="js-show-pokemon btn btn-link"
          data-pokemon-uri="<%= pkmn["resource_uri"] %>">
        <%= pkmn["name"] %>
      </button>
    </li>
  <% end %>
</ul>


<!-- Pokemon modal view (hidden at first) -->
<div class="modal fade js-pokemon-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button id="js-pkmn-btn btn btn-primary">Evolutions</button>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span class="js-pkmn-name">Feraligtr</span>
          <small class="js-pkmn-number">#160</small>
          <span class="js-pkmn-sprite"></span>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>Height</dt>
          <dd class="js-pkmn-height">23</dd>

          <dt>Weight</dt>
          <dd class="js-pkmn-weight">888</dd>

          <dt>HP</dt>
          <dd class="js-pkmn-health"></dd>

          <dt>ATK.</dt>
          <dd class="js-pkmn-atk"></dd>

          <dt>DEF.</dt>
          <dd class="js-pkmn-def"></dd>

          <dt>Sp.DEF</dt>
          <dd class="js-pkmn-sdef"></dd>

          <dt>Sp.ATK</dt>
          <dd class="js-pkmn-satk"></dd>

          <dt>SPD</dt>
          <dd class="js-pkmn-spd"></dd>

          <dt>types</dt>
          <dd class="js-pkmn-type"></dd>

          <dt>Description</dt>
          <dd class="js-pkmn-description"></dd>
        </dl>
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->

<div class="modal fade js-evo-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span>Evolutions</span>
        </h3>
        </div>

        <div class="modal-body">
          <dl class="dl-horizontal">
            <dt class="js-pkmn-evo"></dt>
          </dl>
        </div>

      </div>
    </div>
  </div>
</div>
