<h1>Music Concert Network</h1>

<ul>
	<% @concert_array.each do |concert| %>
	<li>
		<h4> <%= concert.artist %></h3>
		<p>by <%= concert.date %> </p>
	</li>
	<% end %>
</ul>

<%= link_to("Announce a new concert?", new_concert_path)%>
