<!-- views/add.erb -->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Write a blog post</h1>
  <form action="/create_post" method="POST">
  <input type="text" name="title" placeholder="Write!!!">
  <input type="text" name="text" placeholder="Write!!!">
   <input type="author" name="author" placeholder="Write!!!">
    <input type="category" name="category" placeholder="Write!!!">
  <button type="submit">Submit</button>
  </form>
</body>
</html>