<h1> Johnny is a silly dude</h1>
<p>
<b> Author:</b>
Jonathan Rodriguez
</p>

<% if Date.today.tuesday? %>
<p> 
Jonathan is <strong>NOT</strong>
a fan of tuesdays like today.
</p>
<% end %>
<p>
	Jonathan was born on
	<%= Date.today %>.
</p>
